* {
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
}
body {
    background-image: url("images/fondo.jpg");
    color: #192666;
    font-family: tahoma;
    font-size: 85%;
}
#contenedor {
    width: 800px;
    background-color: #F2F5FE;
    margin-left: auto;
    margin-right: auto;
}
#cabecera {
    background-image: url("images/cabecera.jpg");
    height: 100px;
    color: white;
}
#cabecera h1 {
    padding-left: 20px;
    padding-top: 24px;
    font-family: Arial;
}
#cabecera a {
    float: right;
    padding-top: 24px;
    background: url("images/home.png") no-repeat;
    color: transparent;
}
#cabecera a:hover {
    background: url("images/home2.png") no-repeat;
}
#menu {
    width: 790px;
    border: 2px solid white;
    margin-left: 2px;
    border-right: 4px solid white;
    font-family: verdana;
}
#menu li {
    display: inline;
}
#menu a {
    float: left;
    width: 18.2%;
    text-decoration: none;
    color: #ff0000;
    text-align: center;
    background-color: #CEE3F6;
    border-left: 4px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
}
#menu a:hover {
    color: #ffffff;
    background-color: #336699;
}
#columna1 {
    padding: 10px;
    float: left;
    width: 375px;
    text-align: justify;
}
#columna2 {
    padding: 10px;
    float: left;
    width: 375px;
    text-align: justify;
}
#columna1 h1 {
    color: red;
    text-align: center;
}
#columna2 h1 {
    color: red;
    text-align: center;
}
#columna1 img {
    width: 50%;
    padding: 10px;
    float: left;
}
#columna2 img {
    width: 350px;
    padding: 10px;
    float: right;
}
#columna1 table {
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    font-family: verdana;
    font-size: 11px;
    text-align: center;
    border: 1px solid #666;
    border-collapse: collapse;
}
#columna1 th {
    background-color: #F7D358;
    padding: 3px;
    border: 1px solid #666;
}
#columna1 td {
    padding: 3px;
    border: 1px solid #666;
}
#pie {
    margin-top: 131%;
    height: 180px;
    background-image: url("images/fondo2.jpg");
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    font-family: arial;
    text-align: center;
}
#pie img {
    width: 20%;
    height: auto;
    float: right;
    vertical-align: center;
    margin-right: 5%;
    margin-top: 2%;
}
#pie iframe {
    float: left;
    margin-left: 5%;
}